body {
  color: #1B252D;
  font-family: "Libre Baskerville", serif;
  overflow-x: hidden;
}

header, section {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h4, .button, .sans {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
h3 span{
  border-bottom: solid #b8261e 2px;
}

canvas {
  position: absolute;
  top: 0;
  z-index: 0;
}

.menu-container {
  display: inline-block;
  cursor: pointer;
}

/* Header Section */

#header {
  color: #F5F5EB;
  background-color: #1B252D;
}

#headerContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#headerText {
  position: relative;
  z-index: 2;
}

#headerText span {
  display: inline;
}

#myName {
  line-height: 1;
  font-size: 3em;
}

/* #myName h1 {
  margin-bottom: 0;
} */

#tagline-container {
  margin-bottom: .5em;
}

#tagline1, #tagline2 {
  white-space: nowrap;
  font-size: 1.5em;
}

#contactMe {
  margin-top: .3em;
  color: #F5F5EB;
  background-color: #b8261e;
}

/* Navigation */

.top-bar {
  border-bottom: solid #b8261e 5px;
}

.top-bar, .top-bar ul {
  background-color: #4A484E;
}

.top-bar ul a {
  color: #F5F5EB;
  transition: color 0.3s ease;
}

.top-bar ul a:hover {
  color: #96A5A8;
}

.top-bar ul a.is-active {
  color: #96A5A8;
}

.title-bar {
  font-size: 20px;
  background-color: #4A484E;
  color: #F5F5EB;
  border-bottom: solid #b8261e 5px;
}

.off-canvas {
  white-space: nowrap;
  background-color: #4A484E;
}

.off-canvas ul a {
  color: #F5F5EB;
  border-bottom: #1B252D solid 1px;
  transition: color 0.3s ease;
}

.off-canvas ul a:hover {
  color: #96A5A8;
}

.off-canvas ul a.is-active {
  color: #96A5A8;
}

/* About Section */
.meImg {
  margin-top: 2%;
}

#aboutSection {
  padding: 3em 0;
  display: flex;
  align-items: center;
}

#aboutSection .card {
  /* border: none; */
  /* margin-bottom: 0; */
}

.cardSpacer{
  padding-bottom: 3%;
}

/* Skills Section */
.skillsSectionHeader {
  padding-bottom: 1%;
  margin-bottom: 1em;
}
.limited {
  font-size: .7em;
  vertical-align: top;
}
.skillsHeader {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.4em;
  text-decoration: underline;
  margin: 6% 0 2% 0;
}

/* Projects Section */

#projectsSection {
  padding: 3em 0;
  background-color: #F5F5EB;
}

#projectsSection .card {
  border-color: #F5F5EB;
}

#projectsSection .card-divider {
  background-color: #96A5A8;
}

#projectsSection .card-divider .grid-x {
  width: 100%;
}

#projectsSection .card-divider a {
  margin-left: 1%;
  color: #F5F5EB;
  transition: color 0.3s ease;
}

#projectsSection .card-divider a:hover {
  color: #4A484E;
}

/* Background Section */
#backgroundSection {
  display: flex;
  align-items: center;
}

.backgroundCell {
  margin-bottom: 7%;
}

.backgroundTitle {
  font-weight: 700;
}

.backgroundDates {
}

.backgroundPosition {

}

.backgroundDetails, .backgroundLocation, .backgroundDates{
  font-size: .9em;
}
/* Footer Section */

footer, footer a {
  color: #F5F5EB;
  background-color: #4A484E;
  white-space: nowrap;
}

footer {
  padding: 1em 0;
}

footer .cell {
  text-align: center;
  margin-top: .5em;
  /* background: blue; */
}

footer a:hover {
  color: #96A5A8;
}

.social-icons {
  text-align: center;
  font-size: 40px;
}

/* Other CSS */

.sectionHeader {
  margin: 2em 0;
  color: #1B252D;
  text-align: center;
}

.sectionHeader {
  border-bottom: solid #b8261e 5px;
  margin-bottom: 8%;
}

.square-box {
  margin: auto;
  width: 45%;
  position: relative
}

.square-box::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square-content div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  font: 0/0 a;
  vertical-align: middle;
}

.square-content img {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.square-content img.horizontal {
  width: 100%;
}

.square-content img.vertical {
  height: 100%;
  margin: 0;
}

/* Medium and up */

@media screen and (min-width: 40em) {
  #myName {
    font-size: 1.7em;
    line-height: .7;
  }
  #tagline1, #tagline2 {
    white-space: nowrap;
    font-size: 2em;
  }

  .backgroundCell {
    margin-bottom: 5%;
  }

  .skills-icons-container {
    font-size: .8em;
  }
  #phonenumber {
    text-align: left;
  }
  #resumeLink {
    text-align: right;
  }
}

/* Large and up */

@media screen and (min-width: 64em) {
  #myName {
    font-size: 2em;
    line-height: .8;
  }
  .backgroundCell {
    margin-bottom: 8%;
  }
  .skills-icons-container {
    font-size: 1em;
  }
}
