.projects-container {
  min-height: 650px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.projects-container div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.project {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;

  .thumbnail {
    z-index: 1;
  }

  .icon {
    height: 25px;
  }

  .content {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    margin-right: 20px;

    .title {
      display: inline;
      font-size: 18px;
      font-weight: 600;
      padding: 0 10px;
    }

    .bar1 {
      content: '';
      width: 100%;
      height: 2px;
      margin-top: 2px;
      background-color: $header-background;
    }

    a {
      color: $body-text;
    }

    .fade-content {
      max-width: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-width 0.3s ease 1.5s, max-height 0.8s ease;
    }

    p,
    .card-footer {
      margin: 10px;
    }

    .icon {
      margin-left: 10px;
    }
  }

  &:hover {
    .content {
      // max-height: 50%;
      // height: 50vh;
      // transition: all 1s ease-out;
    }

    .test2 {
      // flex: 1;
    }
    .fade-content {
      max-width: 700px;
      max-height: 500px;
      transition: max-width 0.3s ease, max-height 0.8s ease 0.5s;
      // height: 100%;
      // display: block;
    }
  }
}
