.about {
  @include screenSize(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text {
      width: 48%;
    }
    .skills-container {
      width: 48%;
    }
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .title {
      font-size: 24px;
      width: 100%;
    }

    .skill-group-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include screenSize(sm) {
        width: 45%;
      }

      .group-title {
        font-size: 20px;
      }
      .skills-icons-container {
        display: flex;
        justify-content: space-between;

        .skill {
          width: 25%;
          // padding: 15px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          .icon-container {
            display: flex;
            flex-grow: 1;
            align-items: center;
          }

          img {
            width: 100%;
          }

          .skill-title {
            padding-top: 10px;
            width: 100%;
            text-align: center;
            flex-shrink: 1;
          }
        }
      }
    }
  }
}
