@import url('https://use.typekit.net/kpr8wpw.css');

@import './reboot/_reboot';
@import './_vars';
@import './_mixins';

@import '../components/Nav/Nav';
@import '../components/Header/Header';
@import '../components/Footer/Footer';
@import '../components/About/About';
@import '../components/Portfolio/Portfolio';
@import '../components/Background/Background';

@import '../templates/projectPage';

body {
  font-family: proxima-nova, sans-serif;
  background-color: $background-color;
  color: $body-text;
}

h1,
h2,
h3 {
  color: $header-text-color;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  padding-top: 10px;
  width: 100%;
  color: $header-text-color;
}

section {
  padding: 10px 0;
  margin: 10px;
  border-top: solid $nav-background 2px;

  @include screenSize(lg) {
    margin: auto;
    padding: 60px 10px;
    max-width: 1400px;
  }
}

canvas {
  display: block;
}
